html {
   font-family: "Roboto";
   font-size: 12px;
   overflow: hidden;
}

body {
   height: 100vh;
   color: var(--text);
   caret-color: var(--text);
}

.notespace {
   height: 100%;
   width: 100%;

   display: flex;
}

.notespace .sidebar {
   width: 140px;
   height: 100%;

   background-color: var(--sidebar-bg);

   box-sizing: border-box;
   padding: 0.5rem 1rem;
}

.notespace .sidebar .header {
   width: 100%;
   height: fit-content;

   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;

   border-bottom: 1px solid var(--sidebar-seperator);

   padding-bottom: 2px;
}

.notespace .sidebar .header h1 {
   margin: 0;
   
   font-size: 1rem;
   text-transform: uppercase;
   letter-spacing: 0.075rem;
}

.notespace .sidebar .header .material-icons {
   font-size: 1.33rem;
   border-radius: 4px;
   padding: 2px;
}

.notespace .sidebar .header .material-icons:hover {
   background-color: var(--icon-button-hover);
   cursor: pointer;
}

.notespace .sidebar .items {
   margin-top: 4px;
}

.notespace .sidebar .items .item {
   height: 1rem;
   width: 100%;
   padding: 0.25rem 0;
}

.notespace .sidebar .items .active {
   background-color: var(--sidebar-item-active) !important;
}

.notespace .sidebar .items .item:hover {
   background-color: var(--sidebar-item-hover);
   cursor: pointer;
}

.notespace .sidebar .create {
   width: 100%;

   box-sizing: border-box;
   padding: 0.25rem 2px;

   background-color: var(--sidebar-input-bg);
   color: var(--text);

   border: 1px solid var(--sidebar-input-border);
}

.notespace .sidebar .create:focus-visible {
   outline: none;
   border-color: var(--sidebar-input-border-focus);
}

.notespace .content {
   height: 100%;
   width: 100%;
}